body{
	padding: 0 ; 
	margin: 0 ; 
	font-family: "PT Sans", sans-serif ;
	font-weight: 100 ;
}

header{
	background: black ;
}


pre{
	max-width: auto ;
	height: auto ;
	margin: 0 auto ;
}


.navi{
	list-style: none ;
	text-align: center ;
}

.navi li{
	display: inline-block ;
	margin: 15px 25px ;
	color: white ;
	letter-spacing: 0.2em ;
}



.profile{
	border-color: light-blue ;
	border-width: 5px ;
	border-style: solid ;
	border-radius: 50% ;
}

#land{
	size: cover ;
	position: center ;
	padding: 5% ;
}


#landing{
	background-image: url("images/background.jpg") ;
	background-size: cover ;
	background-position: center ;
	display: flex ;
	justify-content: center ;
	align-items: center ;
	box-sizign: border-box ;
	padding: 5% ;
	color: white ;
	text-align: center ;
	height: 100vh ;
	margin-bottom: 100px ;
}


